SELECT u.id, u.first_name, u.last_name, u.username, u.enabled, u.is_active, r.name as role_name FROM users u JOIN user_roles ur ON u.id = ur.user_id JOIN roles r ON ur.role_id = r.id WHERE r.name = 'USER';
